@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for company cards */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #6464d7;
  border-radius: 4px;
}

